<?php
return array(
    'modules' => array(
        'SqlConnector',
        'SystemConfig',
        'Application',
        'SqlConnectorTest'
    ),
    'module_listener_options' => array(
        'config_glob_paths'    => array(
        ),
        'module_paths' => array(
            'module',
            'vendor',
            __DIR__,
        ),
    ),
);