body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.ginger-color {color: #269abc }

.text-btn-align {padding: 6px; vertical-align: middle;}

.process-desc {height: 140px}

.form-control-with-desc {margin-top: 20px}

.btn-success {
  background-color: #269abc;
  background-image: -moz-linear-gradient(top, #269abc, #245269);
  background-image: -ms-linear-gradient(top, #269abc, #245269);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#269abc), to(#245269));
  background-image: -webkit-linear-gradient(top, #269abc, #245269);
  background-image: -o-linear-gradient(top, #269abc, #245269);
  background-image: linear-gradient(top, #269abc, #245269);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#269abc', endColorstr='#245269', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #245269;
}

.btn-success:active, .btn-success.active {
  background-color: #245269;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 90px;
    width: 70%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 40px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a.active {
    text-decoration: underline;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #269abc;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}