<?php
return [
    'ginger' => [
        'node_name' => 'localhost',
        'plugins' => [],
        'processes' => [
            'ginger-message-acmeproductcollection-collect-data' => [
                'name' => 'Linear Collect Data Acme.ProductCollection',
                'process_type' => 'linear_messaging',
                'tasks' => [
                    [
                        "task_type" => 'collect_data',
                        "source" => 'sqlconnector:::ginger_test_source',
                        "ginger_type" => 'SqlConnector\DataType\GingerTestSource\ProductCollection'
                    ],
                    [
                        "task_type" => 'manipulate_payload',
                        'manipulation_script' => 'scripts/translate-product-collection.php',
                    ],
                    [
                        "task_type" => 'process_data',
                        "target" => "filegateway:::productcollection-csv-writer",
                        "allowed_types" => ['Acme\ProductCollection'],
                        'metadata' => [
                            'file_type' => 'csv',
                            'path' => 'data/fileconnector',
                            'filename_template'  => 'productcollection-{{#now}}Y-m-d{{/now}}.csv',
                        ]
                    ]
                ],
            ],
        ],
        'channels' => [
            'local' => [
                'targets' => [
                    0 => 'localhost',
                    1 => 'filegateway:::productcollection-csv-writer',
                    2 => 'sqlconnector:::ginger_test_source'
                ],
                'utils' => [],
            ],
        ],
        'connectors' => [
            'filegateway:::productcollection-csv-writer' => [
                'name' => 'ProductCollection CSV Writer',
                'icon' => 'glyphicon-file',
                'allowed_messages' => [
                    0 => 'process-data',
                ],
                'allowed_types' => [
                    0 => 'Acme\ProductCollection',
                ],
                'preferred_type' => 'Acme\ProductCollection',
                'metadata' => [
                    'file_type' => 'csv',
                    'path' => 'data/fileconnector',
                    'filename_template'  => 'productcollection-{{#now}}Y-m-d{{/now}}.csv',
                ],
                'ui_metadata_key' => 'FileConnectorMetadata',
            ],
            'sqlconnector:::ginger_test_source' => [
                'name' => 'Ginger Test Source DB',
                'icon' => 'glyphicon-hdd',
                'allowed_messages' => [
                    0 => 'collect-data',
                ],
                'allowed_types' => [
                    0 => 'SqlConnector\DataType\GingerTestSource\Product',
                    1 => 'SqlConnector\DataType\GingerTestSource\ProductCollection',
                ],
                'dbal_connection' => 'ginger_test_source',
                'table' => 'products',
                'ui_metadata_key' => 'SqlconnectorMetadata',
            ]
        ],
    ],
];
