<?php
return [
    'ginger' => [
        'node_name' => 'localhost',
        'plugins' => [],
        'processes' => [
            'ginger-message-acmeproductcollection-collect-data' => [
                'name' => 'Linear Collect Data Acme.ProductCollection',
                'process_type' => 'linear_messaging',
                'tasks' => [
                    [
                        "task_type" => 'collect_data',
                        "source" => 'sqlconnector:::ginger_test_source',
                        "data_type" => 'SqlConnector\DataType\GingerTestSource\ProductCollection'
                    ],
                    [
                        "task_type" => 'manipulate_payload',
                        'manipulation_script' => 'scripts/translate-product-collection.php',
                    ],
                    [
                        "task_type" => 'process_data',
                        "target" => "fileconnector:::productcollection-csv-writer",
                        "allowed_types" => ['Acme\ProductCollection']
                    ]
                ],
            ],
        ],
        'channels' => [
            'local' => [
                'targets' => [
                    0 => 'localhost',
                    1 => 'fileconnector:::productcollection-csv-writer',
                    2 => 'sqlconnector:::ginger_test_source'
                ],
                'utils' => [],
            ],
        ],
        'connectors' => [
            'fileconnector:::productcollection-csv-writer' => [
                'allowed_messages' => [
                    0 => 'process-data',
                ],
                'allowed_types' => [
                    0 => 'Acme\ProductCollection',
                ],
                'preferred_type' => 'Acme\ProductCollection',
                'metadata' => [
                    'file_type' => 'csv',
                    'path' => 'data/fileconnector',
                    'filename_template'  => 'productcollection-{{#now}}Y-m-d{{/now}}.csv',
                ]
            ],
            'sqlconnector:::ginger_test_source' => [
                'allowed_messages' => [
                    0 => 'collect-data',
                ],
                'allowed_types' => [
                    0 => 'SqlConnector\DataType\GingerTestSource\Product',
                    1 => 'SqlConnector\DataType\GingerTestSource\ProductCollection',
                ],
                'dbal_connection' => [
                    'dbname' => 'ginger_test_source',
                    'user' => 'root',
                    'password' => '',
                    'host' => 'localhost',
                    'driver' => 'pdo_mysql',
                ]
            ]
        ],
    ],
];
