<?php
return [
    'ginger' => [
        'node_name' => 'localhost',
        'plugins' => [],
        'processes' => [
            'ginger-message-acmeproductcollection-collect-data' => [
                'name' => 'Linear Collect Data Acme.ProductCollection',
                'process_type' => 'linear_messaging',
                'tasks' => [
                    [
                        "task_type" => 'collect_data',
                        "source" => 'GingerExample\Plugin\UserDataProvider',
                        "data_type" => 'Acme\ProductCollection'
                    ],
                    [
                        "task_type" => 'process_data',
                        "target" => "target-file-writer",
                        "allowed_types" => ['Acme\ProductCollection']
                    ]
                ],
            ],
        ],
        'channels' => [
            'local' => [
                'targets' => [
                    0 => 'localhost',
                ],
                'utils' => [],
            ],
        ],
        'connectors' => [
            'product-csv-reader' => [
                'allowed_messages' => [
                    0 => 'collect-data',
                ],
                'allowed_types' => [
                    0 => 'CsvProductCollection',
                ],
                'preferred_type' => 'CsvProductCollection',
            ],
            'product-csv-writer' => [
                'allowed_messages' => [
                    0 => 'process-data',
                ],
                'allowed_types' => [
                    0 => 'CsvProductCollection',
                ],
                'preferred_type' => 'CsvProductCollection',
            ],
        ],
    ],
];
